<%= javascript_include_tag "fecha" %>

<h2>¿Eres Nuevo? Regístrate</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

<!--
Erroes de Devise
<%= devise_error_messages! %>
-->

<div class="row">
    <div class="col-md-4">
        <div class="col-sm-10">
            <%= f.input :nombre1, class: "form-control", autofocus: true, :label => "Primer nombre:", :required => true %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-10">
            <%= f.input :nombre2, class: "form-control", :label => "Segundo nombre:"  %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-10">
            <%= f.input :cedula, class: "form-control", :label => "Cedula:", :required => true %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="col-sm-10">
            <%= f.input :apellido1, class: "form-control", :label => "Primer apellido:", :required => true %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-10">
            <%= f.input :apellido2, class: "form-control", :label => "Segundo apellido:" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-10">
            <%= f.input :telefono, class: "form-control", :label => "Telefono:", :required => true %>
        </div>
    </div>
</div>


<div  class="row">
    <div class="col-md-4">
        <div class="col-sm-10">
            <%= f.input :email, class: "form-control", :label => "Email:", :required => true %>
        </div>
    </div> 
        <div class="col-md-4">
        <div class="col-sm-10">
            <%= f.input :password, autocomplete: "off", class: "form-control", :label => "Contraseña:", :required => true %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-10">
            <%= f.input :password_confirmation, autocomplete: "off", class: "form-control", :label => "Confirma tu contraseña:", :required => true %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label for="exampleInputFile" >Sube tu imagen:</label>
        <%= f.file_field :avatar, class: "help-block" %>
    </div> 
</div>

<br/>

<div class="row">
    <div class="col-md-4 boton-registrar">
        <%= f.submit "Registrate", class: "btn btn-primary boton-responsive" %>
    </div>
</div>

<% end %>
