<tr id=<%= "administrar_usuario_#{administrar_usuario.id}" %>>
	<td><%= link_to administrar_usuario.user.id, edit_administrar_usuario_path(administrar_usuario), :remote => true %></td>
	<td><%= administrar_usuario.user.nombre1.capitalize + ' ' + 
	administrar_usuario.user.nombre2.capitalize %></td>
	<td><%= administrar_usuario.user.apellido1.capitalize + ' ' + 
	administrar_usuario.user.apellido2.capitalize %></td>
	<td><%= administrar_usuario.user.cedula %></td>
	
	<td>
		<%= link_to  image_tag('view1.png'), administrar_usuario, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link'%>
		<%= link_to image_tag('editar1.png'), edit_administrar_usuario_path(administrar_usuario),  :remote => true,  :rel => "tooltip", :title => "Editar", :class => 'btn btn-link'%>
	</td>
</tr>